@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


body {
    margin: 0px;
    font-family: "Roboto";
}

img {
    max-width: 100%;
}

/*HEADER*/

header {
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / 75%);
    padding: 0.5rem;
}

.arrow {
    font-size: 25px;
    position: relative;
    top: 27px;
    left: 18px;
}

/*DISH*/

main {
    background-color: #faf8f8;
    border-radius: 2rem 2rem 0rem 0rem;
    padding-top: 10px;
    position: relative;
    bottom: 50px;
    padding-bottom: 5rem;
    margin-bottom: -60px;
}

.dishtitle {
    display: flex;
    align-items: baseline;
}

.dishheart {
    position: relative;
    left: 30px;
    font-size: 2rem;

}

.dishbigtitle {
    margin-left: 30px;
    font-size: 20px;
}

.dishbigtitle h1 {
    font-size: 30px;
    font-family: "Shrikhand";
}

.titleentrées {
    margin-left: 30px;
    color: grey;
}

.desserts {
    padding-top: 40px;
}

.plats {
    padding-top: 40px;
}

.nameLLL:hover {
    transform: scale(105%);
}

.nameLLL {
    background-color: white;
    padding: 1.3rem 0.9rem;
    border: 1px solid rgb(220, 219, 219);
    border-radius: 1rem;
    box-shadow: 2px 5px 5px -3px #a7a7a7;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.entréesname h3 {
    margin: 0;
}

.entréesname p {
    margin: 0;
    font-size: 15px;
}

.command button:hover {
    font-weight: 600;
    opacity: 0.7;
}

.command button {
    display: grid;
    justify-items: center;
    position: relative;
    top: 20px;
    left: 115px;
    font-weight: 250;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient(to top, rgb(106, 32, 240, 0.9), rgba(246, 119, 246, 0.9));
    color: white;
    box-shadow: 2px 1px 10px -3px #000000;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.9;
}

span.euros {
    position: relative;
    top: 10px;
    font-weight: 600;
}