@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.chargement {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 10ms forwards;
    animation-delay: 3s;
    transform-origin: top;
}

@keyframes disappear {
    to {
        transform: scale(0);
    }
}


/*HEADER*/

.title {
    text-align: center;
}


body {
    margin: 0px;
    font-family: 'Roboto';
    transition: transform 1000ms linear;
}

header {
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / 75%);
    padding: 0.5rem;
}


/*NAVIGATION*/

section.navigation {
    margin-top: 6px;
    background-color: #ddd9d9;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.city h2 {
    color: rgb(68, 67, 67);
    font-size: 15px;
}

.map i {
    font-size: 17px;
}

/*EXPLORE*/

.explore {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: #f3f3f3;
}

.explore h3 {
    font-size: 30px;
}

.explore p {
    font-size: 15px;
    color: grey;
}

.explore button {
    font-weight: 250;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient(to top, rgb(106, 32, 240, 0.9), rgba(246, 119, 246, 0.9));
    color: white;
    box-shadow: 2px 1px 10px -3px #000000;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.9;
}

.explore button:hover {
    font-weight: 600;
    opacity: 0.7;
}

/*functionally*/

.functionally {
    padding-top: 35px;
}

.functionally span {
    padding: 0.4rem;
    background-color: #9356DC;
    border-radius: 50%;
    position: relative;
    left: -40px;
    display: inline-flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;

}

.functionally li {
    background-color: #f3f3f3;
    padding: 1.3rem 2rem;
    border: 1px solid rgb(220, 219, 219);
    display: block;
    flex-grow: 1;
    border-radius: 1rem;
    box-shadow: 2px 1px 5px -3px #000000;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.functionally li:hover {
    font-weight: 600;
    background-color: rgba(250, 238, 250, 0.913);
}

.Card:hover .Card_icon{
    color: #9356DC;
}


.functionally ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.functionally h2 {
    margin-left: 20px;
}

.functionally li i {
    margin-right: 1rem;
    color: grey;
    position: relative;
    right: 30px;
    font-size: 20px;
}

/*RESTAURANT*/

.card {
    border-radius: 15px;
    height: 240px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    display: grid;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    background-color: white;
}

.cardnew {
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    right: 2rem;
    background-color: #99E2D0;
    margin-top: 15px;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.cardnew a {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #14725b;
    font-weight: 550;
}



.restaurantname {
    margin-top: 10px;
    margin-bottom: 5px;
}

.cardname {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardheart {
    position: relative;
}

.cardheart i {
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 2rem;

}

.empty {
    opacity: 1;
}

.fill {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.fill:hover {
    background: linear-gradient(to top, rgb(106, 32, 240), rgba(246, 119, 246));
    opacity: 1;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.cardname p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.menu {
    grid-template: repeat(6, 1fr) / 1fr;
}

.menus h2 {
    margin-left: 20px;
}

.card img {
    height: 145px;
    width: 100%;
    object-fit: cover;
}


section.menus {
    margin-top: 100px;
    background-color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 80px;
}


/*FOOTER*/

.help {
    background-color: dimgray;
    padding-top: 10px;
    padding-bottom: 30px;

}

.help h2 {
    color: white;
    margin-left: 40px;
}

.more li {
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.more {
    flex: 1;
}

.fa-utensils:before {
    padding-right: 15px;
}

.fa-handshake-angle:before {
    padding-right: 10px;
}

.help a {
    color: white;
}